.git
__pycache__
*.pyc
*.pyo
*.pyd
.env.*
.venv
virtualenv
node_modules
.cache
huggingface
*.pt
!ontology_embeddings.pt
app/*
!app/ontology_embeddings.pt

*.bin
*.onnx
*.pkl
*.joblib
*.zip
data/
logs/
tmp/
